* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.fullpage {
  height: 100vh;
  overflow: hidden;
}
.fullpage section {
  height: 100vh;
}
.fullpage section h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 100vh;
  font-size: 10em;
}
.fullpage section:nth-child(1) {
  background-image: url(../img/main_bg.jpg);
}
.boldBorder {
  border: 2px solid #369457;
}
.thinBorder {
  border: 1px solid #369457;
}
.darkerBorder {
  border: 2px solid #1f6032;
}
.blueBorder {
  border: 2px solid #4f7ad1;
}
.radiusTen {
  border-radius: 10px;
}
.radiusFit {
  border-radius: 7px;
}
.shadowBox {
  box-shadow: 5px 5px 5px #000000, 5px 5px 10px #000000;
}
.toTopBtn {
  position: absolute;
  right: 8vh;
  width: 21px;
  height: 21px;
  background: transparent;
  border: none;
  opacity: 1;
}
.toTopArrow {
  width: 50px;
  margin: auto;
  cursor: pointer;
  background-color: #369457;
  border: 1px solid #369457;
  border-radius: 10px;
}
nav {
  background: linear-gradient(76deg, #000002 0%, #032202 100%);
  height: 11vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.cont-logo {
  display: inline-flex;
  grid-column: 4;
}
.chElement,
.chElementTwo,
.chElementThree {
  max-width: 80px;
  max-height: 80px;
  margin: auto;
  background: linear-gradient(135deg, #032202 0%, #0d3e10 35%, #1f6032 100%);
  box-shadow: 3px 3px 5px #000002;
  border: 1px solid #369457;
}
.chElementTwo {
  background: linear-gradient(315deg, #032202 0%, #0d3e10 35%, #1f6032 100%);
}
.chElement .elementCenter,
.chElementTwo .elementCenter {
  text-shadow: 2px 2px 3px #000002;
}
.titleText {
  color: #369457;
  font-size: 2.6rem;
  margin: auto;
  padding: 0 0.2rem 0.2rem 0.2rem;
  display: block;
}
.textCenter {
  text-shadow: 3px 3px 2px #000002;
}
.elementTop,
.elementBottom {
  width: 100%;
  height: 15px;
  font-size: 0.8rem;
  padding: 0 0 0.3rem 0.3rem;
  color: #e8edf0;
}
.elementCenter {
  width: 80px;
  height: 50px;
  font-size: 2.8rem;
  text-align: center;
  line-height: 3.2rem;
  color: #e8edf0;
}
.elementTop {
  text-align: right;
  padding: 0.1rem 0.3rem 0 0;
  height: 10px;
}
.nav-buttons {
  width: 45vw;
  margin: auto;
  grid-column: 8;
  display: flex;
  justify-content: space-around;
}
.nav-buttons button {
  padding: 10px 30px;
  background-color: transparent;
  text-decoration: none;
  color: #369457;
  border: 1px solid #0d3e10;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: all 0.5s ease;
}
.nav-buttons button:hover {
  background-color: #fdd41a;
  color: #093009;
  transform: scale(1.1);
  transition: all 1s ease;
}
@media screen and (max-width: 450px) {
  .chElement,
  .chElementTwo,
  .chElementThree {
    width: 60px;
    height: 60px;
  }
  .titleText {
    font-size: 30px;
  }
  .elementTop,
  .elementBottom {
    font-size: 10px;
  }
  .elementCenter {
    width: 40px;
    height: 35px;
    margin: auto;
    font-size: 35px;
    line-height: 35px;
  }
  nav {
    display: flex;
  }
  .cont-logo {
    margin-left: 2%;
  }
  .nav-buttons {
    position: absolute;
    right: 500px;
  }
  .nav-buttons,
  .nav-buttons a,
  .nav-buttons a button {
    width: 0;
    height: 0;
    opacity: 0;
  }
}
@media screen and (max-width: 320px) {
  nav {
    height: 12vh;
  }
}
@media screen and (max-width: 280px) {
  .textCenter {
    font-size: 26px;
  }
}
@media screen and (max-width: 768px) and (orientation: portrait) {
  .textCenter {
    font-size: 35px;
  }
  .nav-buttons button {
    width: 80px;
    padding: 5px;
    text-align: center;
  }
}
@media screen and (max-width: 1024px) and (orientation: portrait) {
  .cont-logo {
    grid-column: 2;
  }
  .nav-buttons {
    margin-right: 15px;
  }
  .nav-buttons button {
    margin: auto 5px;
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  nav {
    height: 15vh;
  }
  .nav-buttons button {
    width: 80px;
    padding: 5px;
  }
}
.section-aboutus {
  background-image: url(../img/hexagons.svg);
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.title-cont {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15vh;
}
.section-aboutus .section-title {
  display: inline-flex;
}
.section-title .chElementTwo {
  margin-left: 10px;
}
.hr {
  width: 70%;
  margin: auto;
}
hr {
  width: 60%;
  margin: 1vh auto 5vh;
  border: 1px solid #369457;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5), 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.section-aboutus .post-title {
  height: 79vh;
  display: grid;
  grid-template-columns: 40% 60%;
}
.section-aboutus .post-title p {
  margin-top: 50px;
}
.aboutus-left {
  grid-column: 1;
  grid-row: auto;
  color: #e8edf0;
  margin: auto;
  padding-top: 30px;
  height: 79vh;
}
.aboutus-left p {
  padding: 0 10%;
  line-height: 50px;
  text-align: center;
}
.cont-video {
  border: 2px solid #369457;
  border-radius: 10px;
  width: 620px;
  height: 350px;
  margin: 20px auto 0 auto;
  box-shadow: 5px 5px 5px #000000, 5px 5px 10px #000000;
}
.video {
  width: 616px;
  height: 346px;
  border-radius: 7px;
}
video::-webkit-media-controls-fullscreen-button {
  display: none;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  height: 40%;
}
.gallery div {
  border: 2px solid #369457;
  border-radius: 10px;
  width: 210px;
  height: 210px;
  grid-row: 3;
  margin: auto;
  box-shadow: 5px 5px 5px #000000, 5px 5px 10px #000000;
  overflow: hidden;
}
.gallery div img {
  border-radius: 7px;
  width: 206px;
  height: 206px;
  object-fit: cover;
  transition: all 1s ease;
  transform: scale(1.4);
}
.gallery div img:hover {
  transform: scale(1);
}
.toTopBtn1 {
  position: absolute;
  right: 8vh;
  width: 21px;
  height: 21px;
  background: transparent;
  border: none;
  opacity: 1;
  top: 37%;
}
.toTopArrow1 {
  width: 50px;
  margin: auto;
  cursor: pointer;
  background-color: #369457;
  border: 1px solid #369457;
  border-radius: 10px;
}
@media screen and (max-width: 450px) {
  .section-aboutus .post-title {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .aboutus-left {
    padding-top: 0px;
    height: auto;
  }
  .aboutus-left p {
    line-height: 25px;
  }
  hr {
    width: 80%;
  }
  .section-aboutus .post-title p {
    margin-top: 20px;
    font-size: 1em;
  }
  .cont-video {
    width: 95%;
    height: 100%;
    margin-top: 20px;
  }
  .aboutus-right {
    margin-top: 20px;
  }
  .video {
    width: 100%;
    height: 115%;
    margin-bottom: -3px;
  }
  .gallery {
    width: 0;
    height: 0;
    opacity: 0;
  }
}
@media screen and (max-width: 375px) {
  hr {
    margin-bottom: 0;
  }
  .section-aboutus .post-title p {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 320px) {
  .section-aboutus .post-title p {
    margin-top: 10px;
    font-size: 0.7em;
  }
}
@media screen and (max-width: 1024px) and (orientation: portrait) {
  hr {
    margin-bottom: 10px;
  }
  .section-aboutus .post-title {
    display: block;
  }
  .section-aboutus .post-title p {
    font-size: 1.5em;
    margin-top: 10px;
  }
  .aboutus-left {
    height: auto;
  }
  .cont-video {
    margin: 50px auto;
  }
  .toTopArrow1 {
    margin-top: 300px;
  }
}
@media screen and (max-width: 768px) and (orientation: portrait) {
  hr {
    margin-bottom: 0;
  }
  .section-aboutus .post-title p {
    font-size: 1.1em;
  }
  .gallery {
    width: 0;
    height: 0;
    opacity: 0;
  }
  .toTopArrow1 {
    margin-top: 350px;
  }
}
@media screen and (max-width: 1280px) and (orientation: landscape) {
  .section-aboutus .post-title p {
    font-size: 1.5rem;
    margin-top: 20px;
  }
  .gallery div {
    width: 180px;
    height: 180px;
  }
  .gallery div img {
    width: 176px;
    height: 176px;
  }
  .toTopArrow1 {
    margin-top: 40px;
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .section-aboutus .post-title p {
    font-size: 0.8em;
    margin-top: 5px;
  }
  .cont-video {
    width: 496px;
    height: 280px;
    margin: 90px auto 0 auto;
  }
  .video {
    width: 492px;
    height: 276px;
  }
  .gallery {
    width: 0;
    height: 0;
    opacity: 0;
  }
  .toTopArrow1 {
    margin-top: 100px;
  }
}
.section-contact {
  background-image: url(../img/contact_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: relative;
}
.section-contact .section-title {
  display: inline-flex;
}
label {
  color: #e8edf0;
  font-family: 'Roboto', sans-serif;
  margin-top: 5px;
}
label:nth-child(1) {
  margin-top: 20px;
}
label:nth-child(5) {
  margin-top: 10px;
}
.section-contact .title-cont {
  width: 60%;
}
.left-hr {
  width: 60%;
}
.contact-form {
  width: 60%;
  margin-top: 120px;
}
.contact-left {
  border: 2px solid #1f6032;
  border-radius: 10px;
  width: 60%;
  margin: auto;
  background-image: url(../img/hexagons3.svg);
}
form {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto auto;
  text-align: center;
}
input[type="text"],
textarea,
.contact-form button {
  border-radius: 10px;
  box-shadow: 5px 5px 5px #000000, 5px 5px 10px #000000;
  color: #369457;
  background-color: #000002;
}
input[type="text"] {
  border: 2px solid #1f6032;
  height: 30px;
  margin: 5px 0 10px 0;
  padding: 0px 5px;
  text-align: center;
}
input[type="text"]:focus {
  outline: 2px solid;
  outline-color: #369457;
}
.input-alias {
  width: 50%;
  align-items: center;
}
.number-1 {
  width: 10%;
}
.number-2 {
  width: 15%;
}
.number-3 {
  width: 30%;
}
textarea {
  border: 2px solid #1f6032;
  margin-top: 5px;
}
textarea:focus {
  outline: 2px solid;
  outline-color: #369457;
  padding: 5px 5px;
}
.contact-form button {
  width: 100px;
  height: 30px;
  margin: 20px auto;
  cursor: pointer;
}
.contact-form button:focus,
.contact-form button:hover {
  outline: 2px solid;
  outline-color: #000002;
  transition: 0.5s;
  background-color: #369457;
  color: #093009;
  font-weight: bold;
  transition: 0.75s;
}
footer {
  width: 100%;
  height: 100px;
  line-height: 85px;
  background: linear-gradient(90deg, #080807 0%, #fdd41a 70%, #fdd410 100%);
  color: #e8edf0;
  text-align: center;
  position: absolute;
  bottom: 0;
}
footer p {
  color: #000002;
  font-weight: bold;
  font-family: 'Saira', sans-serif;
}
.received {
  font-family: 'Saira', sans-serif;
  color: #369457;
  font-weight: bold;
  margin-bottom: 15px;
}
.toTopBtn4 {
  position: absolute;
  right: 8vh;
  width: 21px;
  height: 21px;
  background: transparent;
  border: none;
  opacity: 1;
  top: 45%;
}
.toTopArrow4 {
  width: 50px;
  margin: auto;
  cursor: pointer;
  background-color: #369457;
  border: 1px solid #369457;
  border-radius: 10px;
}
.error {
  color: red;
  font-weight: bold;
  margin: 2px 2px 0 8px;
}
.invisible {
  opacity: 0;
}
@media screen and (max-width: 450px) {
  .contact-left {
    width: 100%;
  }
  .contact-form {
    width: 95%;
    margin: auto;
  }
  .section-contact .title-cont {
    width: 100%;
  }
  .left-hr {
    width: 100%;
  }
  form {
    width: 100%;
  }
  textarea {
    width: 95%;
    margin: 8px auto 0 auto;
  }
  .toTopArrow4 {
    width: 0;
    height: 0;
    opacity: 0;
  }
  footer {
    height: 50px;
    line-height: 50px;
    background: linear-gradient(90deg, #080807 0%, #fdd41a 70%, #080807 100%);
  }
}
@media screen and (max-width: 375px) {
  label {
    font-size: 0.8rem;
  }
  .contact-form {
    margin-top: 10px;
  }
  textarea {
    height: 110px;
  }
}
@media screen and (max-width: 1024px) and (orientation: portrait) {
  .contact-left {
    width: 70%;
  }
  .section-contact .title-cont {
    width: 100%;
  }
  .left-hr {
    width: 100%;
  }
  hr {
    width: 80%;
  }
  .contact-form {
    width: 100%;
  }
}
@media screen and (max-width: 1280px) and (orientation: landscape) {
  .contact-form {
    margin-top: 70px;
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .contact-form {
    margin-top: 20px;
  }
  textarea {
    height: 75px;
  }
  footer {
    height: 25px;
    line-height: 25px;
  }
}
.section-main {
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.main-question {
  font-size: 3em;
  position: relative;
  top: 40%;
  left: 12%;
}
@media screen and (max-width: 1024px) and (orientation: portrait) {
  .main-question {
    left: 2%;
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .main-question {
    left: 2%;
  }
}
.section-privacy {
  background-image: url(../img/hexagons2.svg);
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.section-privacy .section-title {
  display: inline-flex;
}
.section-privacy .post-title {
  height: 79vh;
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
}
.post-title .privacy-left div {
  border: 2px solid #369457;
  border-radius: 10px;
  width: 402px;
  height: 402px;
  margin: auto;
  box-shadow: 5px 5px 5px #000000, 5px 5px 10px #000000;
}
.post-title .privacy-right {
  margin-top: 60px;
  width: 100%;
  height: 59vh;
  display: flex;
  flex-direction: column;
}
.post-title .privacy-right div {
  margin: auto;
}
.post-title .privacy-right p {
  color: #e8edf0;
  text-align: center;
  margin: 0 auto 80px auto;
}
.post-title .privacy-right span {
  color: #369457;
  font-family: 'Saira', sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}
.post-title .privacy-right .small-letter {
  font-size: 1.5rem;
  color: #369457;
}
.privacy-left {
  margin: 10% auto;
}
.post-title .privacy-left p {
  font-size: 1.2rem;
  text-align: center;
  color: #369457;
  margin: 20px 0;
}
.privacy-left div {
  overflow: hidden;
}
.privacy-left div img {
  border-radius: 10px;
  width: 398px;
  height: 398px;
  object-fit: cover;
  transition: all 1.5s ease;
  transform: scale(1);
}
.privacy-left div img:hover {
  transform: scale(1.25);
}
.toTopBtn3 {
  position: absolute;
  right: 8vh;
  width: 21px;
  height: 21px;
  background: transparent;
  border: none;
  opacity: 1;
  top: 55%;
}
.toTopArrow3 {
  width: 50px;
  margin: auto;
  cursor: pointer;
  background-color: #369457;
  border: 1px solid #369457;
  border-radius: 10px;
}
@media screen and (max-width: 450px) {
  .section-privacy .post-title {
    display: block;
  }
  .post-title .privacy-left div {
    width: 160px;
    height: 160px;
    margin-top: 15px;
  }
  .privacy-left div img {
    width: 156px;
    height: 156px;
  }
  .post-title .privacy-left p {
    font-size: 12px;
    margin: 5px 0;
  }
  .post-title .privacy-right p:nth-child(1),
  .post-title .privacy-right p:nth-child(5),
  .post-title .privacy-right p:nth-child(9) {
    font-weight: bold;
    font-size: 16px;
  }
  .post-title .privacy-right p {
    font-size: 12px;
    margin: 0 auto 25px auto;
  }
  .post-title .privacy-right span {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 375px) {
  .post-title .privacy-left div {
    width: 140px;
    height: 140px;
    margin-top: 15px;
  }
  .post-title .privacy-left img {
    width: 140px;
    height: 140px;
  }
  .post-title .privacy-right {
    margin-top: 20px;
  }
}
@media screen and (max-width: 320px) {
  .post-title .privacy-left div {
    width: 120px;
    height: 120px;
    margin-top: 15px;
  }
  .post-title .privacy-left img {
    width: 120px;
    height: 120px;
  }
}
@media screen and (max-width: 1024px) and (orientation: portrait) {
  .post-title .privacy-left div {
    width: 350px;
    height: 350px;
    margin-top: 15px;
  }
  .post-title .privacy-left img {
    width: 346px;
    height: 346px;
  }
  .post-title .privacy-left p {
    font-size: 1.4rem;
  }
  .section-privacy .post-title {
    display: block;
  }
  .post-title .privacy-right p {
    font-size: 22px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) and (orientation: portrait) {
  .post-title .privacy-left div {
    width: 250px;
    height: 250px;
    margin-top: 15px;
  }
  .post-title .privacy-left img {
    width: 246px;
    height: 246px;
  }
  .post-title .privacy-right p {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1280px) and (orientation: landscape) {
  .post-title .privacy-left div {
    width: 300px;
    height: 300px;
    margin-top: 15px;
  }
  .post-title .privacy-left img {
    width: 296px;
    height: 296px;
  }
  .post-title .privacy-right p {
    font-size: 26px;
    margin-bottom: 55px;
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .post-title .privacy-left div {
    width: 250px;
    height: 250px;
    margin-top: 15px;
  }
  .post-title .privacy-left img {
    width: 246px;
    height: 246px;
  }
  .post-title .privacy-right p {
    font-size: 20px;
    margin-bottom: 35px;
  }
}
.section-products {
  background-image: url(../img/products_bg.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.section-products hr {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.hr-blue {
  width: 60%;
  margin: 1vh auto 5vh;
  border: 1px solid skyblue;
}
.section-products .section-title {
  display: inline-flex;
}
.textCenterProducts {
  color: #4f7ad1;
}
.chElementThree {
  background: linear-gradient(315deg, #191381 0%, #5959c9 35%, #08b5d7 100%);
}
.chElementThree .elementCenter {
  text-shadow: 2px 2px 3px #000002;
}
.section-products .post-title {
  height: 79vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.section-products .post-title h3 {
  text-align: center;
  margin-bottom: 50px;
  text-decoration: underline;
}
.section-products .post-title p {
  text-align: center;
  padding: 0 20%;
  line-height: 50px;
}
.gallery-left,
.gallery-right {
  display: grid;
  grid-column: 1;
  grid-template-columns: repeat(3, 1fr);
  height: 60%;
}
.gallery-left div,
.gallery-right div {
  border: 2px solid #4f7ad1;
  border-radius: 10px;
  width: 210px;
  height: 210px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4), 5px 5px 15px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
.gallery-left div img,
.gallery-right div img {
  border-radius: 7px;
  width: 206px;
  height: 206px;
  object-fit: cover;
  transition: all .5s ease;
  transform: scale(1.1);
}
.gallery-left div img:hover,
.gallery-right div img:hover {
  transition: all .5s ease;
  transform: scale(1);
}
.toTopBtn2 {
  position: absolute;
  right: 8vh;
  width: 21px;
  height: 21px;
  background: transparent;
  border: none;
  opacity: 1;
  top: 40%;
}
.toTopArrow2 {
  width: 50px;
  margin: auto;
  cursor: pointer;
  background-color: #369457;
  border: 1px solid #369457;
  border-radius: 10px;
  background-color: #4f7ad1;
  border: 1px solid #4f7ad1;
}
@media screen and (max-width: 450px) {
  .hr-blue {
    width: 80%;
    margin-bottom: 20px;
  }
  .section-products .post-title {
    height: 79vh;
    display: flex;
  }
  .section-products .post-title h3 {
    margin-bottom: 5px;
  }
  .section-products .products-left {
    margin-right: 5px;
  }
  .section-products .products-right {
    margin-left: 5px;
  }
  .section-products .post-title p {
    text-align: center;
    padding: 5px 7px;
    font-size: 12px;
    line-height: 20px;
    width: 100%;
  }
  .gallery-left,
  .gallery-right {
    display: block;
    margin: 15px;
  }
  .gallery-left div,
  .gallery-right div {
    width: 120px;
    height: 120px;
    margin: 10px auto;
  }
  .gallery-left div img,
  .gallery-right div img {
    width: 120px;
    height: 120px;
  }
}
@media screen and (max-width: 375px) {
  .hr-blue {
    margin: 1vh auto 1vh;
  }
  .section-products .post-title p {
    font-size: 10.5px;
  }
  .gallery-left div,
  .gallery-right div {
    width: 110px;
    height: 110px;
    margin: 5px auto;
  }
  .gallery-left div img,
  .gallery-right div img {
    width: 110px;
    height: 110px;
  }
}
@media screen and (max-width: 320px) {
  .section-products .post-title p {
    font-size: 8px;
  }
  .gallery-left div,
  .gallery-right div {
    width: 90px;
    height: 90px;
    margin: 5px auto;
  }
  .gallery-left div img,
  .gallery-right div img {
    width: 90px;
    height: 90px;
  }
}
@media screen and (max-width: 1024px) and (orientation: portrait) {
  .hr-blue {
    width: 80%;
  }
  .gallery-left,
  .gallery-right {
    display: block;
  }
  .section-products h3 {
    font-size: 2.1rem;
  }
  .section-products .post-title p {
    padding: 2px 5px;
    font-size: 25px;
    line-height: 45px;
    margin-bottom: 20px auto;
  }
  .gallery-left div,
  .gallery-right div {
    margin: 20px auto;
  }
  .toTopArrow2 {
    margin-top: 390px;
  }
}
@media screen and (max-width: 768px) and (orientation: portrait) {
  .section-products .post-title h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .section-products .post-title p {
    font-size: 16px;
    line-height: 25px;
  }
  .gallery-left div,
  .gallery-right div {
    width: 190px;
    height: 190px;
  }
  .gallery-left div img,
  .gallery-right div img {
    width: 190px;
    height: 190px;
  }
  .toTopArrow2 {
    margin-top: 250px ;
  }
}
@media screen and (max-width: 1280px) and (orientation: landscape) {
  .section-products .post-title h3 {
    font-size: 2rem;
  }
  .section-products .post-title p {
    font-size: 1.4rem;
    padding: 0 15%;
  }
  .gallery-left div,
  .gallery-right div {
    width: 150px;
    height: 150px;
  }
  .gallery-left div img,
  .gallery-right div img {
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .section-products .post-title h3 {
    font-size: 1.5rem;
  }
  .section-products .post-title p {
    font-size: 1rem;
    line-height: 1.8rem;
    padding: 0 15%;
  }
  .gallery-left div,
  .gallery-right div {
    width: 130px;
    height: 130px;
  }
  .gallery-left div img,
  .gallery-right div img {
    width: 130px;
    height: 130px;
  }
}
@font-face {
  font-family: 'Genos';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/genos/v1/SlGNmQqPqpUOYTYjacb0Hc91fTwVqkjorQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/saira/v8/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA71rCosg.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/saira/v8/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA773Fosg.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v27/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/righteous/v9/1cXxaUPXBpj2rGoU7C9mjw.ttf) format('truetype');
}
.titleText {
  font-family: 'Lora', serif;
}
.chElement,
.chElementTwo,
.chElementThree {
  font-family: 'Lora', serif;
}
.main-question {
  font-family: 'Saira', sans-serif;
  font-weight: bold;
  font-size: 4rem;
}
.nav-buttons button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.post-title p {
  color: #e8edf0;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
}
.section-products h3 {
  font-family: 'Righteous', cursive;
  color: #4f7ad1;
  text-shadow: 2px 2px 3px #000002;
  font-size: 2.5rem;
}
.section-products p {
  color: #000002;
}
label {
  font-family: 'Saira', sans-serif;
}
.section-contact input[type="text"] {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.section-contact button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media screen and (max-width: 450px) {
  .main-question {
    width: 220px;
    font-size: 2.5rem;
    position: absolute;
    left: 3%;
    top: 45%;
  }
  .post-title p {
    font-size: 1.2rem;
  }
  .section-products h3 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 320px) {
  .section-products h3 {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 450px) {
  .fullpage section:nth-child(1) {
    background-image: url(../img/main_bg_mq.jpg);
  }
  .fullpage {
    height: auto;
  }
}
@media screen and (max-width: 1024px) and (orientation: portrait) {
  .fullpage section:nth-child(1) {
    background-image: url(../img/main_bg_mq.jpg);
  }
}
