* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background: linear-gradient(76deg, #000002 0%, #032202 100%);
  height: 11vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.cont-logo {
  display: inline-flex;
  grid-column: 4;
}
.chElement,
.chElementTwo {
  max-width: 80px;
  max-height: 80px;
  margin: auto;
  border: 1px solid #e8edf0;
  background: linear-gradient(135deg, #032202 0%, #0d3e10 35%, #1f6032 100%);
}
.chElementTwo {
  background: linear-gradient(315deg, #032202 0%, #0d3e10 35%, #1f6032 100%);
}
.titleText {
  color: #e8edf0;
  color: #369457;
  font-size: 1rem;
  margin: auto;
  padding: 0 0.2rem 0 0.2rem;
  display: block;
}
.elementTop,
.elementBottom {
  width: 100%;
  height: 15px;
  font-size: 0.8rem;
  padding: 0 0 0.3rem 0.1rem;
  color: #e8edf0;
}
.elementCenter {
  width: 80px;
  height: 50px;
  font-size: 2.8rem;
  text-align: center;
  padding-bottom: 0.5rem;
  color: #e8edf0;
}
.elementTop {
  text-align: right;
  padding: 0.1rem 0.3rem 0 0;
  height: 10px;
}
.titleText {
  font-size: 2rem;
}
.nav-buttons {
  width: 45vw;
  margin: auto;
  grid-column: 8;
  display: flex;
  justify-content: space-around;
}
.nav-buttons button {
  padding: 10px 30px;
  background-color: transparent;
  text-decoration: none;
  color: #369457;
  border: 1px solid #0d3e10;
  cursor: pointer;
}
.nav-buttons button:hover {
  background-color: #369457;
  color: #093009;
  transform: scale(1.1);
  transition: 0.5s;
}
.main-question {
  font-size: 3em;
  position: relative;
  top: 40%;
  left: 12%;
}
.section-cont {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15vh;
}
.section-aboutus {
  background-image: url(../img/hexagons.svg);
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.section-aboutus .section-title {
  display: inline-flex;
}
.hr {
  width: 70%;
  margin: auto;
  border: 1px solid #e8edf0;
}
.post-title {
  height: 85vh;
  display: grid;
  grid-template-columns: repeat(5, 10fr);
}
.aboutus-left {
  grid-column: 1;
}
.section-title .chElementTwo {
  margin-left: 10px;
}
hr {
  width: 60%;
  margin: 1vh auto;
}
.section-contact {
  background-image: url(../img/contact_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
.section-contact .section-title {
  display: inline-flex;
}
label {
  color: #e8edf0;
}
.section-main {
  background-image: url(../img/main_bg.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.section-privacy {
  background-image: url(../img/hexagons2.svg);
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.section-privacy .section-title {
  display: inline-flex;
}
.section-products {
  background-image: url(../img/products_bg.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.hr-blue {
  width: 60%;
  margin: 1vh auto;
  border: 1px solid skyblue;
}
.section-products .section-title {
  display: inline-flex;
}
