.boldBorder {border: 2px solid @seaGreen;}
.thinBorder {border: 1px solid @seaGreen;}
.darkerBorder {border: 2px solid @mughalGreen;}
.blueBorder {border: 2px solid @walterBlue;}
.radiusTen {border-radius: 10px;}
.radiusFit {border-radius: 7px;}
.shadowBox {box-shadow: 5px 5px 5px rgba(0, 0, 0, 1), 5px 5px 10px rgba(0, 0, 0, 1);}

.toTopBtn {
    position: absolute;
    right: 8vh;
    width: 21px;
    height: 21px;
    background: transparent;
    border: none;
    opacity: 1;
}

.toTopArrow {
    width: 50px;
    margin: auto;
    cursor: pointer;
    background-color: @seaGreen;
    border: 1px solid @seaGreen;
    border-radius: 10px;
}