nav {
    background: linear-gradient(76deg, @walterBlack 0%, @smokyBlack 100%);
    height: 11vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.cont-logo {
    display: inline-flex;
    grid-column: 4;
}

.chElement,
.chElementTwo,
.chElementThree {
    max-width: 80px;
    max-height: 80px;
    margin: auto;
    background: @elementBackgroundOne;
    box-shadow: 3px 3px 5px @walterBlack;
    .thinBorder;
}

.chElementTwo {
    background: @elementBackgroundTwo;
}

.chElement .elementCenter,
.chElementTwo .elementCenter
 {
    text-shadow: 2px 2px 3px @walterBlack;
}

.titleText {
    color: @seaGreen;
    font-size: 2.6rem;
    margin: auto;
    padding: 0 0.2rem 0.2rem 0.2rem;
    display: block;
}

.textCenter {
    text-shadow: 3px 3px 2px @walterBlack;
}

.elementTop,
.elementBottom {
    width: 100%;
    height: 15px;
    font-size: 0.8rem;
    padding: 0 0 0.3rem 0.3rem;
    color: @walterWhite;
}

.elementCenter {
    width: 80px;
    height: 50px;
    font-size: 2.8rem;
    text-align: center;
    line-height: 3.2rem;
    color: @walterWhite;
}

.elementTop {
    text-align: right;
    padding: 0.1rem 0.3rem 0 0;
    height: 10px;
}

.nav-buttons {
    width: 45vw;
    margin: auto;
    grid-column: 8;
    display: flex;
    justify-content: space-around;
}

.nav-buttons button {
    padding: 10px 30px;
    background-color: transparent;
    text-decoration: none;
    color: @seaGreen;
    border: 1px solid @traditionalForestGreen;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    transform: scale(1);
    transition: all 0.5s ease;
}

.nav-buttons button:hover {
    background-color: @yellowBad;
    color: @darkGreen;
    transform: scale(1.1);
    transition: all 1s ease;
}

// MEDIA QUERIES
@media screen and (max-width: 450px){
    .chElement,
    .chElementTwo,
    .chElementThree {
        width: 60px;
        height: 60px;
    }
    .titleText {
        font-size: 30px;
    }
    .elementTop,
    .elementBottom {
        font-size: 10px;
    }
    .elementCenter {
        width: 40px;
        height: 35px;
        margin: auto;
        font-size: 35px;
        line-height: 35px;
    }
    nav {
        display: flex;
    }
    .cont-logo{
        margin-left: 2%;
    }
    .nav-buttons {
        position: absolute;
        right: 500px;
    }
    .nav-buttons,
    .nav-buttons a,
    .nav-buttons a button
     {
        width: 0;
        height: 0;
        opacity: 0;
    }
}