.section-aboutus {
    background-image: url(../img/hexagons.svg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.title-cont {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15vh;
}

.section-aboutus .section-title {
    display: inline-flex;
}

.section-title .chElementTwo {
    margin-left: 10px;
}

.hr {
    width: 70%;
    margin: auto;
}

hr {
    width: 60%;
    margin: 1vh auto 5vh;
    border: 1px solid @seaGreen;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5),
    5px 5px 10px rgba(0, 0, 0, 0.5);
}

.section-aboutus .post-title {
    height: 79vh;
    display: grid;
    grid-template-columns: 40% 60%;
}

.aboutus-left {
    grid-column: 1;
    grid-row: auto;
    color: @walterWhite;
    margin: auto;
    padding-top: 30px;
    height: 79vh;
}

.aboutus-left p {
    padding: 0 10%;
    line-height: 50px;
    text-align: center;
}

.video {
    .boldBorder;
    .radiusTen;
    width: 40vw;
    height: 30vh;
    margin: 40px auto 0 auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 1),
    5px 5px 10px rgba(0, 0, 0, 1);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    height: 50%;
}

.gallery div {
    .boldBorder;
    .radiusTen;
    width: 210px;
    height: 210px;
    grid-row: 3;
    margin: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 1),
    5px 5px 10px rgba(0, 0, 0, 1);
}

.gallery div img {
    .radiusFit;
    width: 206px;
    height: 206px;
    object-fit: cover;
}