.section-contact {
    background-image: url(../img/contact_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.section-contact .section-title {
    display: inline-flex;
}

label {
    color: @walterWhite;
}

.section-contact .title-cont {
    width: 50%;
}

.left-hr {
    width: 50%;
}

.contact-form {
    width: 50%;
    border: 1px solid blue;
}

form {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}