.section-products {
    background-image: url(../img/products_bg.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    border: 1px solid seagreen;
}

.hr-blue {
    width: 60%;
    margin: 1vh auto 5vh;
    border: 1px solid skyblue;
}

.section-products .section-title {
    display: inline-flex;
}

.chElementThree {
    background: @elementBackgroundThree;
    border: 1px solid @walterBlue;
}

.textCenterProducts {
    color: @walterBlue;
}

.section-products .post-title {
    height: 79vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.section-products .post-title h3 {
    text-align: center;
    margin-bottom: 50px;
    text-decoration: underline;
}

.section-products .post-title p {
    text-align: center;
    padding: 0 20%;
    line-height: 50px;
}

.gallery-left, .gallery-right {
    display: grid;
    grid-column: 1;
    grid-template-columns: repeat(3, 1fr);
    height: 60%;
}

.gallery-left div, .gallery-right div {
    width: 210px;
    height: 210px;
    border: 1px solid @walterBlue;
    margin: auto;
}

.gallery-left div img, .gallery-right div img {
    width: 208px;
    height: 208px;
    object-fit: cover;
}