.section-aboutus {
    background-image: url(../img/hexagons.svg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.title-cont {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15vh;
}

.section-aboutus .section-title {
    display: inline-flex;
}

.section-title .chElementTwo {
    margin-left: 10px;
}

.hr {
    width: 70%;
    margin: auto;
    border: 1px solid @walterWhite;
}

hr {
    width: 60%;
    margin: 1vh auto 5vh;
}

.post-title {
    height: 79vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.aboutus-left {
    grid-column: 1;
    grid-row: auto;
    color: @walterWhite;
    border: 1px solid blue;
    margin: auto;
    padding-top: 30px;
    height: 79vh;
}

.aboutus-left p {
    padding: 0 10%;
    line-height: 50px;
}

.aboutus-right {
    border: 1px solid red;
}

.video {
    width: 40vw;
    height: 30vh;
    border: 1px solid yellow;
    margin: auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    height: 50%;
}

.gallery div {
    width: 210px;
    height: 210px;
    border: 1px solid yellow;
    grid-row: 3;
    margin: auto;
}