.section-contact {
    background-image: url(../img/contact_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.section-contact .section-title {
    display: inline-flex;
}

label {
    color: @walterWhite;
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
}

label:nth-child(1) {
    margin-top: 20px;
}

.section-contact .title-cont {
    width: 60%;
}

.left-hr {
    width: 60%;
}

.contact-form {
    width: 60%;
    // border: 1px solid darkblue;
}

.contact-left {
    border: 2px solid @seaGreen;
    width: 60%;
    margin: auto;
    border-radius: 10px;
    background-color: @elementBackgroundTwo;
}

form {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

input[type="text"] {
    background-color: @walterBlack;
    border-radius: 10px;
    height: 30px;
    margin: 5px 0 10px 0;
    color: @seaGreen;
    border: 1px solid @seaGreen;
    padding: 0px 5px;
}

input[type="text"]:focus {
    outline: 1px solid;
    outline-color: @yellowBad;
}

.number-1 {
    width: 10%;
}

.number-2 {
    width: 20%;
}

.number-3 {
    width: 50%;
}

textarea {
    border-radius: 10px;
    background-color: @walterBlack;
    color: @seaGreen;
    border: 1px solid @seaGreen;
}

textarea:focus {
    outline: 1px solid;
    outline-color: @yellowBad;
    padding: 5px 5px;
}

.contact-form button {
    width: 100px;
    height: 30px;
    background-color: @walterBlack;
    margin: 20px auto;
    color: @seaGreen;
    border-radius: 10px;
}

.contact-form button:focus {
    outline: 1px solid;
    outline-color: @yellowBad;
}