.section-contact {
    background-image: url(../img/contact_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
}

.section-contact .section-title {
    display: inline-flex;
}

label {
    color: @walterWhite;
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
}

label:nth-child(1) {
    margin-top: 20px;
}

label:nth-child(5) {
    margin-top: 10px;
}

.section-contact .title-cont {
    width: 60%;
}

.left-hr {
    width: 60%;
}

.contact-form {
    width: 60%;
    margin-top: 120px;
}

.contact-left {
    .darkerBorder;
    .radiusTen;
    width: 60%;
    margin: auto;
    background-image: url(../img/hexagons3.svg);
}

form {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto auto;
    text-align: center;
}


// Common properties

input[type="text"],
textarea,
.contact-form button {
	.radiusTen;
	.shadowBox;
	color: @seaGreen;
	background-color: @walterBlack;
}

input[type="text"] {
    .darkerBorder;
    height: 30px;
    margin: 5px 0 10px 0;
    padding: 0px 5px;
    text-align: center;
}

input[type="text"]:focus {
    outline: 2px solid;
    outline-color: @seaGreen;
}

.input-alias {
    width: 50%;
    align-items: center;
}

.number-1 {
    width: 10%;
}

.number-2 {
    width: 15%;
}

.number-3 {
    width: 30%;
}

textarea {
    .darkerBorder;
    margin-top: 5px;
}

textarea:focus {
    outline: 2px solid;
    outline-color: @seaGreen;
    padding: 5px 5px;
}

.contact-form button {
    width: 100px;
    height: 30px;
    margin: 20px auto;
    cursor: pointer;
}

.contact-form button:focus,
.contact-form button:hover {
    outline: 2px solid;
    outline-color: @walterBlack;
    transition: 0.5s;
    background-color: @seaGreen;
    color: @darkGreen;
    font-weight: bold;
    transition: 0.75s;
}

footer {
    width: 100%;
    height: 100px;
    line-height: 85px;
    background: linear-gradient(90deg, rgba(8,8,7,1) 0%, rgba(253,212,26,1) 70%, rgba(253,212,16,1) 100%);
    color: @walterWhite;
    text-align: center;
    position: absolute;
    bottom: 0;
}

footer p {
    color: @walterBlack;
    font-weight: bold;
    font-family: @main-question;
}