.section-privacy {
    background-image: url(../img/hexagons2.svg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.section-privacy .section-title {
    display: inline-flex;
}

.post-title .privacy-left {
    height: 79vh;
    border: 1px solid blue;
    display: flex;
}

.post-title .privacy-left div {
    width: 400px;
    height: 400px;
    border: 1px solid yellow;
    border-radius: 50%;
    margin: auto;
    }

.post-title .privacy-right {
    border: 1px solid pink;
    height: 79vh;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.post-title .privacy-right div {
    margin: auto;
}

.post-title .privacy-right p {
    color: @walterWhite;
    text-align: center;
}

.post-title .privacy-right .small-letter {
    font-size: 1.5rem;
}

.privacy-left div img {
    width: 398px;
    height: 398px;
    object-fit: cover;
    border-radius: 50%;
}