.section-privacy {
    background-image: url(../img/hexagons2.svg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.section-privacy .section-title {
    display: inline-flex;
}

.section-privacy .post-title {
    height: 79vh;
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
}

.post-title .privacy-left div {
    .boldBorder;
    .radiusTen;
    width: 402px;
    height: 402px;
    margin: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 1),
                5px 5px 10px rgba(0, 0, 0, 1);
    }

.post-title .privacy-right {
    margin-top: 60px;
    width: 100%;
    height: 59vh;
    display: flex;
    flex-direction: column;
}

.post-title .privacy-right div {
    margin: auto;
}

.post-title .privacy-right p {
    color: @walterWhite;
    text-align: center;
    margin: auto;
}

.post-title .privacy-right p:nth-child(1),
.post-title .privacy-right p:nth-child(5),
.post-title .privacy-right p:nth-child(9) {
    color: @seaGreen;
    font-weight: bold;
}

.post-title .privacy-right .small-letter {
    font-size: 1.5rem;
    color: @seaGreen;
}

.privacy-left {
    margin: 10% auto;
}

.post-title .privacy-left p {
    font-size: 1.2rem;
    text-align: center;
    color: @seaGreen;
    margin: 20px 0;
}

.privacy-left div img {
    .radiusTen;
    width: 398px;
    height: 398px;
    object-fit: cover;
}