* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url(nav.less);
@import url(section_aboutus.less);
@import url(section_contact.less);
@import url(section_main.less);
@import url(section_privacy.less);
@import url(section_products.less);
@import url(section_main.less);
@import url(typography.less);
@import url(variables.less);